@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter Light";
    src:
      url("/landing/fonts/Inter/Inter-Light.woff2") format("woff2"),
      url("/landing/fonts/Inter/Inter-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter Regular";
    src:
      url("/landing/fonts/Inter/Inter-Regular.woff2") format("woff2"),
      url("/landing/fonts/Inter/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter Medium";
    src:
      url("/landing/fonts/Inter/Inter-Medium.woff2") format("woff2"),
      url("/landing/fonts/Inter/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter SemiBold";
    src:
      url("/landing/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
      url("/landing/fonts/Inter/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter Bold";
    src:
      url("/landing/fonts/Inter/Inter-Bold.woff2") format("woff2"),
      url("/landing/fonts/Inter/Inter-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  :root {
    --color-primary-bg: rgba(255, 255, 255, 1);
    --color-primary-text: rgba(16, 24, 40, 1);
    --color-secondary-bg: rgba(249, 250, 251, 1);
    --color-secondary-text: rgba(71, 84, 103, 1);
    --color-disabled: rgba(238, 244, 255, 1);
    --color-stroke: rgba(208, 213, 221, 1);
  }

  :root.dark {
    --color-primary-bg: rgba(16, 24, 40, 1);
    --color-primary-text: rgba(255, 255, 255, 1);
    --color-secondary-bg: rgba(38, 46, 64, 1);
    --color-secondary-text: rgba(208, 213, 221, 1);
    --color-disabled: rgba(72, 79, 94, 1);
    --color-stroke: rgba(71, 84, 103, 1);
  }
}

body {
  @apply bg-primary-bg font-inter-regular text-base text-primary-text;

  .button {
    @apply inline-flex items-center justify-center rounded-lg font-inter-semibold text-base outline-none transition-colors disabled:pointer-events-none disabled:opacity-30;
  }
  .button-primary {
    @apply bg-primary text-white hover:bg-hovered focus:bg-focused focus:shadow-shadow-primary disabled:shadow-shadow-disabled dark:focus:shadow-none dark:disabled:shadow-none;
  }
  .button-secondary {
    @apply border border-solid border-[#D0D5DD] bg-white text-[#101828] shadow-shadow-small hover:bg-secondary-bg focus:bg-secondary-bg focus:shadow-shadow-secondary disabled:shadow-shadow-disabled dark:shadow-none dark:hover:bg-[#F9FAFBF3] dark:focus:bg-[#F9FAFBF3] dark:focus:shadow-none dark:disabled:shadow-none;
  }

  .page-title {
    @apply font-inter-semibold text-3xl md:text-5xl;
  }
  .widget-title {
    @apply font-inter-semibold text-2xl md:text-4xl;
  }
  .form-title {
    @apply font-inter-semibold text-2xl md:text-3xl;
  }
  .item-title {
    @apply font-inter-semibold text-xl md:text-2xl;
  }
  .page-subtitle {
    @apply text-base md:text-xl;
  }
  .copy {
    @apply text-sm md:text-base;
  }
  .menu-link {
    @apply cursor-pointer text-base transition-colors hover:text-primary xl:text-sm;
  }
  .number {
    @apply font-inter-semibold text-5xl text-primary md:text-[60px] md:leading-[78px];
  }

  .swiper-pagination {
    @apply select-none font-inter-medium text-sm text-secondary-text;
  }
  .swiper-button-prev,
  .swiper-button-next {
    @apply text-primary;
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    @apply text-stroke opacity-100;
  }

  .pagination {
    @apply mx-auto flex w-full justify-between gap-1 border-t border-solid border-stroke pt-5;
  }
  .pagination-list {
    @apply flex items-center gap-1;
  }
  .pagination-item a {
    @apply h-10 w-fit cursor-pointer rounded-lg px-[16.5px] py-[11.5px] font-inter-medium text-sm text-secondary-text transition-colors hover:bg-secondary-bg;
  }
  .pagination-item.active a {
    @apply bg-disabled text-primary hover:bg-hovered hover:text-white dark:bg-disabled dark:text-primary-text;
  }
  .pagination-btn {
    @apply flex h-10 w-fit cursor-pointer select-none items-center rounded-lg px-[16.5px] py-[11.5px] font-inter-medium text-sm text-secondary-text transition-colors hover:bg-secondary-bg dark:text-primary-text;
  }
  .pagination-btn.disabled {
    @apply pointer-events-none cursor-default text-stroke opacity-30;
  }
}
